/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza todo o texto no corpo */
}

/* Estilo para os Títulos */
h1 {
    font-size: 2.5em;
    padding: 15px 25px;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Estilo para o Título 1 */
.titulo-estilo1 {
    color: #1E90FF; /* Cor azul */
    background-color: #E0F7FA; /* Fundo azul-claro */
}

.titulo-estilo2 {
    color: #056b0a; /* Cor azul */
    background-color: #6ffb68; /* Fundo azul-claro */
}

.titulo-estilo3 {
    color: #fa9600; /* Cor azul */
    background-color: #fdfaa2; /* Fundo azul-claro */
}

.titulo-estilo4 {
    color: #ad0101; /* Cor azul */
    background-color: #f29797; /* Fundo azul-claro */
}

/* Estilo para os Textos */
p {
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* Centraliza o texto dos parágrafos */
}

/* Estilo para o Texto 1 */
.texto-estilo1 {
    color: #555; /* Cor cinza-escuro */
    background-color: #E3F2FD; /* Fundo azul-claro */
}

/* Estilo para o Texto 2 */
.texto-estilo2 {
    color: #333; /* Cor cinza-escuro */
    background-color: #F1F8E9; /* Fundo verde-claro */
}
